<h1> Log in! </h1>

<hr>


<%= form_tag('/login', method: 'get') do %>

<%= label_tag :username %><br>
<%= text_field_tag :username %><br>
<br>
<%= label_tag :password %><br>
<%= password_field_tag :password %><br>


<%= submit_tag "Log in" %>

<% end %>
