<h1> New Review </h1>
<%= link_to 'Log out', logout_path %>

<%= form_for @review do |f| %>

<% if :movie_id == nil %>

<%= collection_select(:movie, :movie_id, Movie.all, :id, :name, prompt: true) %>

<% else %>

<% end %>
<br>
<br>

<%= f.label :title %><br>
<%= f.text_field :title %><br>
<br>
<%= f.label :body %><br>
<%= f.text_area :body %><br>

<%= f.submit 'Submit' %>

<% end %>
