<h1> New Review </h1>
<%= link_to 'Log out', logout_path %>

<%= form_for @review do |f| %>

<% if :movie_id == nil %>

<%= collection_select(:movie, :movie_id, Movie.all, :id, :name, prompt: true) %>

<% else %>

<% end %>


<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :body %>
<%= f.text_area :body %>

<%= f.submit 'Submit' %>

<% end %>
